[Desktop Entry]
Name=Echo
Comment=Spotify client and music player
Exec=echo-desktop
Icon=echo
Terminal=false
Type=Application
Categories=Audio;Music;Player;
StartupWMClass=echo-desktop
